---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro'
import Hero from '../components/Hero.astro'
import Skills from '../components/Skills.astro'
import Proyectos from '../components/Proyectos.astro'
import Contacto from '../components/Contacto.astro'
---

<Layout title="Portafio Thomas Vargas">
	<main class="w-full lg:w-3/4 text-white my-12 lg:mx-auto">
		<NavBar/>
		<Hero/>
		<Contacto/>
		<Skills/>
		<Proyectos/>
		portafolio en desarrollo
	</main>
</Layout>
