---
import { Image } from "astro:assets";
import perfil from "../assets/perfilDoc.jpg"
import gitHub from '../assets/navbar/gitHub.svg'
import Linkedin from '../assets/navbar/Linkedin.svg'
---
<section id="contactame" class="py-28 w-full">
    <div class="flex flex-col items-center mt-10 gap-10">
        <h1 class='text-3xl lg:text-5xl font-semibold text-center'>Acerca de mi</h1>
        <div class="px-16 text-center lg:text-xl w-[1200px]">
            <p>
                Cuento con un año de experiencia estudiando React. Actualmente, estoy estudiando la carrera de Tecnicatura en Desarrollo de Software, donde he estado adquiriendo conocimientos en programación y desarrollo web.
            </p>
            <p class="mt-3 lg:mt-10">
                No cuento con experiencia, he invertido tiempo y esfuerzo en proyectos personales que me han permitido aplicar mis conocimientos en situaciones del mundo real.
            </p>
            <p class="mt-3 lg:mt-10">
                Estoy emocionado por lo que el futuro me depara en mi carrera como desarrollador frontend. Si tienes un proyecto o una oportunidad donde pueda contribuir o aprender, ¡estaré encantado de formar parte de ello!
            </p>
        </div>
        <div class="flex gap-12">
            <a href='https://github.com/thomivargas' target='_blank'>
                <Image src={gitHub} width={60} alt="gitHubIcon" />
            </a>
            <a href="https://www.linkedin.com/in/thomas-vargas-405576214/" target='_blank'>
                <Image src={Linkedin} width={60} alt="LinkedinIcon" />
            </a>
        </div>
    </div>
</section>