---
import { Image } from 'astro:assets';
import hero from '../assets/navbar/hero.svg'
---
<section class="py-2 md:py-44 flex flex-col md:flex-row gap-10 lg:justify-between items-center">
    <div>
        <h1 class="text-2xl md:text-4xl mr-9 font-bold text-right md:text-left">
            Hola 👋, <br/>
            Mi nombre es <br/>
            <span class="text-sky-500">Thomas Vargas,</span><br/>
            Soy Desarollador <br/>
            FrontEnd.
        </h1>
    </div>
    <div>
        <Image src={hero}  class="w-56 md:w-64 lg:w-80 md:mx-16" alt="imagenInico" />
    </div>
</section>